 a {
     text-decoration: none;
}
img{
    max-width:100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
    height:auto;
}
table { 
    border:1px solid #000; 
    font-family: 微軟正黑體;
    font-size:16px; 
    width:400px;
    border:1px solid #000;
    text-align:center;
    border-collapse:collapse;
  } 
  td { 
    border:1px solid #000;
    padding:5px;
  } 
p.monospace{
    font-family:Monospace,Helvetica,sans-serif;
}
 .et-hero-tabs, .et-slide {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     position: relative;
     background: #eee;
     text-align: center;
     padding: 0 2em;
}
 .et-hero-tabs h1, .et-slide h1 {
     font-size: 3rem;
     margin: 0;
     letter-spacing: 1rem;
     font-family:Monospace,Helvetica,sans-serif;
}
 .et-hero-tabs h3, .et-slide h3 {
     font-size: 1.5rem;
     letter-spacing: 0.3rem;
     opacity: 0.6;
     font-family:Monospace,Helvetica,sans-serif;
}
 .et-hero-tabs-container {
     display: flex;
     flex-direction: row;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 70px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     background: #fff;
     z-index: 10;
}
 .et-hero-tabs-container--top {
     position: fixed;
     top: 0;
}
 .et-hero-tab {
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1;
     color: #000;
     letter-spacing: 0.1rem;
     transition: all 0.5s ease;
     font-size: 0.8rem;
}
 .et-hero-tab:hover {
     color: white;
     background: rgba(102, 177, 241, 0.8);
     transition: all 0.5s ease;
}
 .et-hero-tab-slider {
     position: absolute;
     bottom: 0;
     width: 0;
     height: 6px;
     background: #66B1F1;
     transition: left 0.3s ease;
}
